<h1>Administración de mensajes</h1>
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Cuerpo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-primary" >Editar</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="editor">
  <form >
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <select formControlName="tipo" id="tipo" name="tipo" class="form-control">
        <option value="">Seleccione un tipo</option>
        <option value="registro">Registro</option>
        <option value="respuesta">Respuesta</option>
        <option value="asignacion">Asignación</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cuerpo">Cuerpo:</label>
      <textarea formControlName="cuerpo" id="cuerpo" name="cuerpo" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary save-button">Guardar</button>
  </form>
</div>