<div class="container mx-auto">
    <form autocomplete="off" [formGroup]="formAuth" (ngSubmit)="guardar()" class="max-w-sm mx-auto">
      <div class="mb-4">
        <div class="mb-2">
          <label class="block text-sm font-bold text-gray-700">Nombre *</label>
          <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
          <div class="text-error">
            <small *ngIf="nombreNoValido" class="text-red-500">* Ingrese su nombre</small>
          </div>
        </div>
  
        <div class="mb-2">
          <label class="block text-sm font-bold text-gray-700">Correo electrónico *</label>
          <input type="text" class="form-control" formControlName="email" [class.is-invalid]="emailNoValido">
          <div class="text-error">
            <small *ngIf="emailNoValido" class="text-red-500">* Ingrese un correo válido</small>
          </div>
          <div *ngIf="!emailMach">
            <small class="text-red-500">* El correo ya existe</small>
          </div>
        </div>
  
        <div class="mb-2">
          <label class="block text-sm font-bold text-gray-700">Password</label>
          <input type="password" class="form-control" formControlName="password" [class.is-invalid]="passwordNoValido">
          <div class="text-error">
            <small *ngIf="passwordNoValido" class="text-red-500">* Mínimo 6 caracteres</small>
          </div>
        </div>
      </div>
  
      <div class="flex justify-end">
        <button type="submit" mat-flat-button color="accent" [disabled]="formAuth.invalid"
          class="px-4 py-2 bg-blue-500 text-white rounded disabled:bg-gray-400">Enviar</button>
      </div>
    </form>
  </div>
  
  