<h1>SE ASIGNA CASO</h1>
<form action="">
  <div class="asignar">
    <form autocomplete="off" [formGroup]="formAsignar" (ngSubmit)="enviar()">
        <div class="row">
            <div class="form-group">
                <label>Seleccione un empleado *</label>
                <select class="input-wrapper" formControlName="employee" [class.is-invalid]="employeeNoValido">
                    <option [value]="item.id" *ngFor="let item of listEmployee">{{ item.name }}</option>
                </select>
                <div class="text-error">
                    <small *ngIf="employeNoValido" class="text-danger">Seleccione un tipo de caso</small>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-info" ><strong>Asignar</strong></button>
        </div>
    </form>
      
  </div>
</form>

