<div class="dashboard">
    <div class="menu">
        <form class="flex items-center bg-sky-700 search-x" [formGroup]="formulario"
            (submit)="filtrarResultados($event)">

            <div class="row">
                <div class="row filters">
                    <div class="col-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de
                            caso:</label>
                        <input type="text" name="numeroCaso"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Ingrese número de caso" formControlName="numeroCaso">
                    </div>

                    <div class="col-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
                            caso:</label>
                        <select formControlName="tipoCaso" name="tipoCaso"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected>Seleccione un tipo de caso</option>
                            <option value="queja">Queja</option>
                            <option value="reclamo">Reclamo</option>
                            <option value="felicitacion">Felicitacion</option>
                            <option value="pregunta">Pregunta</option>
                            <option value="sugerencia">Sugerencia</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
                            usuario:</label>
                        <select formControlName="tipoUsuario" name="tipoUsuario"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected>Seleccione un tipo de usuario</option>
                            <option value="persona natural">Persona natural</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>

                    <div class="col-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado:</label>
                        <select formControlName="estado" name="estado"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected>Seleccione un estado</option>
                            <option value="acuso de recibido">Acuso de recibido</option>
                            <option value="cerrado">Cerrado</option>

                        </select>
                    </div>

                    <div class="col-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">País:</label>
                        <select formControlName="pais" name="pais"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected>Seleccione un país</option>
                            <option [value]="item.id" *ngFor="let item of listaPais">{{ item.countryName }}</option>
                        </select>
                    </div>

                    <div class="col-1">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autoriza:</label>
                        <select formControlName="autorizaTratamientoDatos"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option disabled selected>Seleccione *</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>

                    <div class="col-1">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha:</label>
                        <input formControlName="fecha" name="fecha"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            type="date" id="date">
                    </div>
                </div>
                <div class="text-right search">
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg aria-hidden="true" class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>Buscar
                    </button>

                    <button
                        class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        (click)="limpiarBusqueda()"><svg aria-hidden="true" class="w-5 h-5 mr-2 -ml-1" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>Limpiar busqueda</button>
                </div>

            </div>



        </form>
    </div>
    <div class="text-right">
        <button type="submit" (click)="exportToExcel()"
            class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            Descargar
        </button>
    </div>
    <div class="table-data">
        <h2><strong>Resultados de la búsqueda</strong></h2>
        <table class="rounded-lg  mx-auto bg-gray-800 text-gray-200">
            <thead>
                <tr>
                    <th class="px-4 py-3">#</th>
                    <th class="px-4 py-3">Número de caso</th>
                    <th class="px-4 py-3">Fecha</th>
                    <th class="px-4 py-3">Tipo de usuario</th>
                    <th class="px-4 py-3">Tipo de caso</th>
                    <th class="px-4 py-3">País</th>
                    <th class="px-4 py-3">Tratamiento de datos</th>
                    <th class="px-4 py-3">Estado</th>
                    <th class="px-4 py-3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-700 border-b border-gray-600"
                    *ngFor="let item of filteredResults | paginate: { itemsPerPage: 10, currentPage: page }; let i=index">

                    <td scope="row ">{{ i + 1 }}</td>
                    <td class="px-4 py-3">{{item.numeroCaso}}</td>
                    <td class="px-4 py-3">{{item.fechaPQR}}</td>
                    <td class="px-4 py-3">{{item.userType}}</td>
                    <td class="px-4 py-3">{{item.caseType}}</td>
                    <td class="px-4 py-3">{{item.country}}</td>
                    <td class="px-4 py-3">{{item.autorizaTratamientoDatos}}</td>
                    <td class="px-4 py-3">{{item.estatus}}</td>
                    <td class="px-4 py-3">
                        <button class="btn btn-sm btn-margin btn-primary" [routerLink]="[ '/pqrdetails', item.id ]">
                            <i class="fi fi-rr-eye"></i>
                        </button>
                        <button class="btn btn-sm btn-margin btn-success" (click)="asignar(item.id)"></button>

                        <button class="btn btn-sm btn-margin btn-success" (click)="openDialog()">

                            <i class="fi fi-rr-users"></i>
                        </button>
                        <button class="btn btn-sm btn-info" (click)="generarCasoSalesforce(item.id)">
                            Salesforce >>
                        </button>
                        <button class="btn btn-sm btn-margin btn-danger" (click)="cerrarCaso(item.id)">
                            <i class="fi fi-rr-lock"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>

    </div>
</div>

<hr>

<form action="">
    <div class="asignar">
        <div class="row">
            <div class="col-12 my-8">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un usuario</option>
                    <option value="1">Pepito Perez</option>
                    <option value="2">Juanito Arjona</option>
                    <option value="3">Lupita Suarez</option>
                </select>
            </div>
            <div class="col-12 my-8">
                <input type="text" class="form-control" placeholder="pepito@procolombia.co" disabled>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-info" (click)="enviarAsigncion()"><strong>Asignar</strong></button>
        </div>
    </div>
</form>