// styles.scss

// Resto de estilos...

// Estilos para el contenedor principal
.main-container {
  max-width: 500px; // Define el ancho máximo deseado para el contenido
  width: 100%; // Ocupa el ancho completo del contenedor padre
  margin: 0 auto; // Centra el contenido horizontalmente
  padding: 20px; // Agregamos espacio interno para que no quede tan pegado a los bordes
}

// styles.scss

// Resto de estilos...

// Estilos para la cuadrícula


// Estilos para cada elemento de la cuadrícula
.list-item {
  //background-color: $secondary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

// Clase para centrar verticalmente los elementos de la cuadrícula
.centered-item {
  display: flex;
  justify-content: center; // Centrar horizontalmente
  align-items: center; // Centrar verticalmente
}

