<img src="{{ images.logoMini }}" class="imagen-izquierda">
<img src="imagen2.jpg" class="imagen-derecha">
<h1>Iniciar sesión</h1>

<form action="#" method="post">
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required>
    <br><br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="Iniciar sesión">
</form>

<footer>
    <div class="qa_footer">
        <div class="qa_footer_logos">
            <div class="qa_footer_con">
                <div id="block-block-179" class="block block-block">
                    <div class="content">
                        <div class="footer-logo-wrap">
                            <div class="container justify-content-between align-items-center d-flex">
                                <div id="div_logo_svg_footer1"><svg class=" lazyloaded"
                                        data-bg="/sites/all/themes/proexport/reskin/images/tinypng/logo_proco.png"
                                        height="45" id="logo_svg_footer" viewBox="0 0 329 58"
                                        xmlns="http://www.w3.org/2000/svg"
                                        style="background-image: url(&quot;/sites/all/themes/proexport/reskin/images/tinypng/logo_proco.png&quot;);">
                                        <defs>
                                            
                                        </defs>
                                        <g><a href="https://procolombia.co" target="_blank">
                                                <rect height="58" style="fill: transparent;" width="329"></rect>
                                            </a></g>
                                    </svg> <svg class=" lazyloaded"
                                        data-bg="/sites/all/themes/proexport/reskin/images/footer_mp_logo_58.png"
                                        height="35" id="logo_svg_footer1" viewBox="0 0 348 58"
                                        xmlns="http://www.w3.org/2000/svg"
                                        style="background-image: url(&quot;/sites/all/themes/proexport/reskin/images/footer_mp_logo_58.png&quot;);">
                                        <defs>
                                            <style type="text/css">
                                                #logo_svg_footer1 {
                                                    background-size: 100%;
                                                    background-repeat: no-repeat;
                                                    position: relative;
                                                    left: 20%;
                                                }
                                            </style>
                                        </defs>
                                        <g><a href="https://www.colombia.co" target="_blank">
                                                <rect height="58" width="348"></rect>
                                            </a></g>
                                    </svg></div>
                                <div id="div_logo_svg_footer2"><svg class=" lazyloaded"
                                        data-bg="/sites/all/themes/proexport/reskin/images/footer_logo_gobierno.png"
                                        height="45" id="logo_svg_footer2" viewBox="0 0 268 58"
                                        xmlns="http://www.w3.org/2000/svg"
                                        style="background-image: url(&quot;/sites/all/themes/proexport/reskin/images/footer_logo_gobierno.png&quot;);">
                                        <defs>
                                            <style type="text/css">
                                                #logo_svg_footer2 {
                                                    background-repeat: no-repeat;
                                                    background-size: 100% !important;
                                                }

                                                #div_logo_svg_footer2 rect {
                                                    fill: transparent;
                                                    cursor: pointer;
                                                    transition: fill .2s
                                                }
                                            </style>
                                        </defs>
                                        <g><a target="_blank" xlink:href="https://www.mincit.gov.co/">
                                                <rect height="58" width="268"></rect>
                                            </a></g>
                                    </svg></div>
                            </div>
                        </div>
                        <div id="clear_logo">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qa_footer_info qa_footer_con clearfix">
            <div id="block-block-44" class="block block-block">
                <div class="content">
                    <div class="lt_part">
                        <div class="con_info">
                            <ul>
                                <li class="ft_location">Calle 28 No 13A - 15 Piso 35-36 Bogotá-Colombia</li>
                                <li class="ft_phone"><a href="tel:+57 601 5600100">+57 601 5600100</a> - Fax: <a
                                        href="tel:+57 601 5600100">+57 601 5600104</a></li>
                                <li class="ft_calander">Lunes a Viernes 8:30 a.m. - 5:30 p.m.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rt_part" style="float:left;">
                <div id="block-menu-menu-clone-menufooteren" class="block block-menu">
                    <div class="content">
                        <ul class="menu">
                            <li class="leaf first last"><a href="/informacion/servicios-al-ciudadano"
                                    title="">Servicios al ciudadano</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rt_part" style="float:left;">
                <div id="block-menu-menu-clone2-menufooteren" class="block block-menu">
                    <div class="content">
                        <ul class="menu">
                            <li class="leaf first"><a href="https://www.fiducoldex.com.co/seccion/denuncias"
                                    target="_blank" title="">DENUNCIAS</a></li>
                            <li class="leaf last"><a href="/informacion/contactenos" title="">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rt_part" style="float:left;">
                <div id="block-menu-menu-clone3-menufooteren" class="block block-menu">
                    <div class="content">
                        <ul class="menu">
                            <li class="leaf first"><a href="https://rse.procolombia.co/es/cultura-nuestros-informes"
                                    target="_blank">Informe De Sostenibilidad</a></li>
                            <li class="leaf last"><a href="/informacion/trabaje-con-nosotros" title="">Trabaje con
                                    nosotros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="block-block-180" class="block block-block">
                <div class="content">
                    <div class="ft_social clearfix">
                        <div class="ft_social_icon">
                            <ul>
                                <li class="fb"><a href="https://www.facebook.com/procolombiaco" target="_blank"></a>
                                </li>
                                <li class="tw"><a href="https://twitter.com/procolombiaco" target="_blank"></a></li>
                                <li class="you_tube"><a
                                        href="https://www.youtube.com/channel/UCJcfl1AklKSvGXfUwV5kJow"
                                        target="_blank"></a></li>
                                <li class="inst"><a href="https://www.instagram.com/procolombiaco"
                                        target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qa_legal">
            <div class="qa_legal_con">
                <div id="block-menu-menu-footer-menu" class="block block-menu">
                    <div class="content">
                        <ul class="menu">
                            <li class="leaf first"><a href="/informacion/acerca-del-sitio" title="">Acerca del
                                    sitio</a></li>
                            <li class="leaf"><a href="/informacion/condiciones-de-uso" title="">Condiciones de
                                    uso</a></li>
                            <li class="leaf"><a href="/informacion/procolombia-ninos" title="">Sitio para niños</a>
                            </li>
                            <li class="leaf last"><a href="/informacion/proteccion-de-datos-personales"
                                    title="">Protección de Datos Personales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>