
body {
    font-family: Arial;
    background-color: #f2f2f2;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #476a87;
  }
  
  input[type=email],
  input[type=password],
  input[type=submit] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type=submit] {
    background-color: #476a87;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #264466;
  }
  
  .qa_footer_info {
    padding: 0;
  }
  
  #block-block-44 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #div_logo_svg_footer1 {
    width: 75%;
    float: left;
  }
  .clearfix:after, .container:after, .row:after, .nav:after {
    clear: both;
  }
  .clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after, .nav:before, .nav:after {
    display: table;
    content: " ";
  }
  .con_info ul li.ft_calander, .con_info ul li.ft_location, .con_info ul li.ft_phone {
    font-size: 15px;
  }
  .con_info ul li.ft_location, .con_info ul li.ft_phone, .con_info ul li.ft_calander {
    
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: 100;
    
  }
  .ft_location {
    //background-image: url(../images/ft_location.png);
    background-position: left;
    background-repeat: no-repeat;
  }
  
  .con_info {
      margin-left: 8%;
  }
  .con_info {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  ul.sub_menu, ul.menu, .con_info, .con_info_en {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  .rt_part, .lt_part {
    width: 100%;
    float: none;
    padding: 0;
    text-transform: uppercase;
  }
  #block-block-44 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .qa_footer {
    width: 100%;
     margin: 0 auto; 
    padding-bottom: 50px;
    background-color: #5f6369;
    clear: both;
  }
  .rt_part li a {
    text-decoration: none;
    color: #fff;
    
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    margin-left: -11px;
  }
  li {
    text-align: -webkit-match-parent;
  }
  .rt_part li a:before {
    content: "+";
    color: #ffcb00;
    
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding-right: 5px;
  }
  .lt_part ul, .rt_part ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.sub_menu, ul.menu, .con_info, .con_info_en {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  .qa_legal_con ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .qa_legal_con ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .qa_legal_con ul li a:before {
    content: "+";
    color: #ffcb00;
    font-size: 15px;
    line-height: 20px;
    padding-right: 5px;
    
    font-weight: 400;
    
    list-style: none;
    
  }
  a {
    text-decoration: none!important; 
  }
  .qa_legal ul.sub_menu, .qa_legal ul.menu {
    border-top: 1px solid rgba(255,255,255,.3);
    margin-top: 30px;
    padding-top: 20px;
    list-style: none;
    
  }
  div {
    display: block;
  }
  .qa_legal_con ul li {
     height: 30px; 
  }
  .con_info, .qa_legal ul.sub_menu, .qa_legal ul.menu {
    margin-left: 8%;
  }
  
  
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  #div_logo_svg_footer2 {
    float: right;
  }
  
  
  #logo_svg_footer {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  #div_logo_svg_footer1 rect {
    fill: transparent;
    cursor: pointer;
    transition: fill .2s
  }
  
  
     