<div class="modal-header">
    <h5 class="modal-title" id="modal-detalles-label">Detalles de la PQR</h5>
</div>

<div class="modal-body">
    <div class="form-group">
      <label for="numero-caso">Número de caso:</label>
      <p>{{numeroCaso}}</p>
    </div>
  
    <div class="form-group">
      <label for="nombre-solicitante">Nombre del solicitante:</label>
      <p>{{nombre}}</p>
    </div>
  
    <div class="form-group">
      <label for="tipo-caso">Tipo de caso:</label>
      <p>{{tipoCaso}}</p>
    </div>
  
    <div class="form-group">
      <label for="tipo-usuario">Tipo de usuario:</label>
      <p>{{tipoUsuario}}</p>
    </div>
  
    <div class="form-group">
      <label for="pais">País:</label>
      <p>{{pais}}</p>
    </div>
  
    <div class="form-group">
      <label for="razon-social">Razón Social:</label>
      <p>{{razonSocial}}</p>
    </div>
  
    <div class="form-group">
      <label for="nit">NIT:</label>
      <p>{{nit}}</p>
    </div>
  
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <p>{{cedula}}</p>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <p>{{email}}</p>
    </div>
  
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <p>{{telefono}}</p>
    </div>
  
    <div class="form-group">
      <label for="archivo">Archivo:</label>
      <p>{{file}}</p>
    </div>
  
    <div class="form-group">
      <label for="descripcion-caso">Descripción del caso:</label>
      <p>{{comentarios}}</p>
    </div>

    <div class="form-group">
      <label for="descripcion-caso">Autoriza tratamiento de datos:</label>
      <p>{{autorizaTratamientoDatos}}</p>
    </div>

    <div class="form-group">
      <label for="estado">Fecha:</label>
      <p>{{fecha}}</p>
    </div>
  
    <div class="form-group">
      <label for="estado">Estado:</label>
      <p>{{estado}}</p>
    </div>
  </div>
<div class="modal-footer">

</div>