<div class="container mx-auto py-8">

    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

        <label class="block font-bold mb-2">Nombre:</label>
        <input type="text" class="border border-gray-400 p-2 w-full" formControlName="nombre" value="Hola">

        <label class="block font-bold mb-2">Descripción:</label>
        <textarea class="border border-gray-400 p-2 w-full" formControlName="descripcion"></textarea>

        <label>Edicion:</label>
        <angular-editor  formControlName="html"></angular-editor>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Guardar</button>
    </form>
    <hr>
    <pre>
            Estado del formulario: {{ formulario.valid }}
            <br>
            Status: {{ formulario.status }}
            <br>
            {{ formulario.value | json }}
    </pre>
</div>