


.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
 
 
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      .form-group {
        flex-basis: 50%;
        //margin-bottom: 20px;

        label {
          display: block;
         
          font-weight: bold;
        }

        

        .text-error {
          //margin-top: 5px;

          .text-danger {
            color: red;
          }
        }

        input[type="text"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;

          &.is-invalid {
            border-color: red;
          }
        }

        

        

        
      }

     
    }
  }

  
}
