<!--Se agrego campos faltantes, tipo de caso, cedula, -->
<div class="container">
    <form autocomplete="off" [formGroup]="formPQR" (ngSubmit)="guardar()">

        <div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Tipo de caso *</label>
                    <select class="input-wrapper" formControlName="tipoCaso" [class.is-invalid]="tipoCasoNoValido">
                        <option [value]="item.id" *ngFor="let item of listaTipoCaso">{{ item.name }}</option>
                    </select>
                    <div class="text-error">
                        <small *ngIf="tipoCasoNoValido" class="text-danger">Seleccione un tipo de caso</small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Tipo de usuario *</label>
                    <select class="input-wrapper" formControlName="tipoUsuario"
                        [class.is-invalid]="tipoUsuarioNoValido">
                        <option [value]="item.id" *ngFor="let item of listaTipoUsuario">{{ item.name }}</option>
                    </select>
                    <div class="text-error">
                        <small *ngIf="tipoUsuarioNoValido" class="text-danger">Seleccione el tipo de usuario</small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Razon social *</label>
                    <input type="text" class="form-control" placeholder="Escriba una razon social"
                        formControlName="razonSocial" [class.is-invalid]="razonSocialNoValida">
                    <div *ngIf="razonSocialNoValida">
                        <small class="text-danger">* ingrese una razon social</small>
                    </div>
                    <!--<div *ngIf="formWasher.get('nombre')?.errors?.['minlength']">
                        <small class="text-danger">* minimo 3 caracteres</small>
                    </div> -->
                </div>
                <div class="form-group col-md-6">
                    <label>NIT *</label>
                    <input type="text" class="form-control" placeholder="Escriba un nit" formControlName="nit"
                        [class.is-invalid]="nitNoValido">
                    <div *ngIf="nitNoValido">
                        <small class="text-danger">* ingrese un nit</small>
                    </div>
                    <!-- <div *ngIf="formWasher.get('fechaNacimiento')?.errors?.['minlength']">
                        <small class="text-danger">* minimo 3 caracteres</small>
                    </div> -->
                </div>
                <div class="form-group col-md-6">
                    <label>Cedula</label>
                    <input type="text" class="form-control" formControlName="cedula" pattern="[0-9]*"
                        inputmode="numeric" [class.is-invalid]="cedulaNoValido">
                    <div class="text-error">
                        <small *ngIf="cedulaNoValido" class="text-danger">Minimo 7 caracteres</small>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>País *</label>
                    <select class="input-wrapper" formControlName="pais" [class.is-invalid]="paisNoValido">
                        <option [value]="item.id" *ngFor="let item of listaPais">{{ item.countryName }}</option>
                    </select>
                    <div class="text-error">
                        <small *ngIf="paisNoValido" class="text-danger">Seleccione su pais</small>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-12 text-right ">
                    <button type="submit" mat-flat-button color="accent" [disabled]="formPQR.invalid">Agregar</button>
                </div>
            </div>

        </div>

    </form>
</div>
<hr>
<pre>
        Estado del formulario: {{ formPQR.valid }}
        <br>
        Status: {{ formPQR.status }}
        <br>
        {{ formPQR.value | json }}
    </pre>